/* latin */
@font-face {
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./m8JQjfZSc7OXlB3ZMOjDd5RA.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
}
